* {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  }

img {
  max-width: 100%;
}

li,a,p,h1,h2,h3,h4,h5,figcaption{
  font-family: 'Oswald', sans-serif;
}

.title{
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  padding: 20px
}

section{
  height: calc(100vh - var(--height-header));
}

.subtitle{
  font-size: 1.5rem;
  text-align: center;
  color: #1c1e20;
}

.is-reached > div{
  opacity: 1;
  transform: none;
}