.buy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title--buy{
    @include large{
        margin-top: 100px;
        font-size: 4rem;
    }
}

.buy__offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    opacity: 0;
    transform: translateY(100px) scale(0.7);
    transition: 0.5s;
}

.buy__article{
    margin: 0 10vw;

    @include large{
        margin: 0 50px;
    }
}

.article--pack{
    @include medium{
        order:3;
    }
    @include large{
        order:1;
    }
}

.article--bandeau{
    order:2;
}

.buy__pack{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 160px;
    justify-content: space-between;
    margin-bottom: 5vh;

    @include small{
        height: 200px;
    }

}

.buy__subtitle{
    color: var(--oculus-color);
}

.buy__price{
    font-size: 2rem;
    color: var(--oculus-color);
}

.buy__button {
    color: var(--oculus-color);
    border: 5px solid var(--oculus-color);
    padding: 7px 14px;
    border-radius: 35px;
    margin: 0 auto;

    @include large{
        font-size: 1.2rem;
    }
  }
  
.pack__image{
    height: 18vh;
}