.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  height: 50px;
  padding:0 10px 0 5px;
}

.navigation__title{
  font-size: 17px;
}

.logo__image{
  max-width: 45px;
}

.navigation__menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
}

.menu__rod{
  display: block;
  border: black 2px solid;
  height: 5px;
  border-radius: 30%;
}