.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  height: var(--height-header);
  padding:0 10px 0 5px;
  position: fixed;
  top: 0px;
  width: 100vw;
}

.navigation__title{
  font-size: 17px;
}

.logo__image{
  max-width: 45px;
}

.navigation__shopping{
  font-size: 30px;
  color: var(--oculus-color);
}