.presentation{
  background-color: var(--oculus-color);
  color:white;
  display: flex;
  flex-direction: column;
  margin-top: var(--height-header);
  justify-content: space-around;
}

.presentation__oculus{    
  margin-top: 20px;
}

.presentation__button {
  color: white;
  border: 10px solid white;
  padding: 15px 30px;
  border-radius: 35px;
  transition: 0.5s;
  margin: 0 auto 20px auto;
}

.presentation__button:hover {
  letter-spacing: 3px;
}