.presentation{
  background-color: var(--oculus-color);
  color:white;
  display: flex;
  flex-direction: column;
  margin-top: var(--height-header);
  justify-content: space-around;
}

.presentation__oculus{    
  margin-top: 20px;
  justify-content: space-between;
  
  @include small{
    display:flex;
  }

  @include medium{
  }
}

.presentation__image{
  max-height: 70vh;
}

.presentation__tagline{
  order:-1;
  min-width: 60vw;

  @include medium{
    min-width: 40vw;
  }

  @include extra-large{
    font-size: 3rem;
  }
}

.presentation__button {
  color: white;
  border: 10px solid white;
  padding: 15px 30px;
  border-radius: 35px;
  transition: 0.5s;
  margin: 0 auto 20px auto;
}

.presentation__button:hover {
  letter-spacing: 3px;
}
