.sensors{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.sensors__image{
    background-image: url(./../assets/image/Oculus-Rift-S-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    align-items: center;
    display:flex;

    @include medium{
        height: 100%;
    }

}

.sensors__innovation {
    padding: 20px 0;
    max-width: 500px;

    @include medium{
        display: none;
    }
}

.sensors__description{
    margin: 0 20px;
    line-height: 1.6;
    color: white;
    background-color: rgba($color: var(--oculus-color), $alpha: 0.8);
    
    @include medium{
        padding: 0 20vw;
    }

    @include extra-large{
        padding: 0 30vw;
    }
}